:root{
    --cor-fundo: #3197f1 ;
    --cor-principal: #031cfd ;
    --cor-secundaria: #02afff; 
    --cor-destaque: #e8eaeb;
    --cor-texto: #131f38;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
